html,body {
    margin: 0;
    padding: 0;
    background-image: url(./image/usami_mizuki.png), url(./image/iijima_yun.png);
    background-repeat: no-repeat;
    background-position: right bottom, left bottom;
    background-attachment: fixed;
}

.sorry{
    color: red;
    text-align: center;
}

#page{
    margin: 0 auto;
    background-color: rgba(256, 256, 256, 0.5);
    width: 90%;
}

/* Small devices (tablets, 768px and up) */ /* タブレットサイズだったら */
@media (min-width: 768px) { #page{ width: 640px; } }

/* Medium devices (desktops, 992px and up) */ /* PCサイズだったら */
@media (min-width: 992px) { #page{ width: 900px; } }


.jumbotron h1,.jumbotron p{
    text-align: center;
}

img{
    width: 100px;
    height: 100px;
}