html,body {
    margin: 0;
    padding: 0;
    background-image: url(./image/usami_mizuki.png), url(./image/iijima_yun.png);
    background-repeat: no-repeat;
    background-position: right bottom, left bottom;
    background-attachment: fixed;
}

.sorry{
    color: red;
    text-align: center;
}

#page{
    margin: 0 auto;
    width: 900px;
}

.jumbotron h1,.jumbotron p{
    text-align: center;
}