.home-background:before {
    content: "";
    display: block;
    position: fixed;
    z-index: -5;
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
    background-image: url(../../assets/mizunoai.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.greet {
    div {
        text-align: center;
    }
    .welcome {
        font-size: 1.5rem;
        font-family: HG行書体;
    }
    .dark-and-dark {
        font-size: 7rem;
        font-family: MS Gothic;
    }
}

.about-me {
    table {
        margin-left: 7%;
        background:rgba(255, 255, 255, 0.5);
        /* タブレットサイズだったら */
        @media (min-width: 600px) {
            min-width: auto;
        }
        /* PCサイズだったら */
        @media (min-width: 992px) {
            min-width: 40%;
        }
    }
    .luffy:before {
        content:"";
        display: block;
        padding-top: 75%;
        background-image: url(../../assets/like-luffy.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .list-items {
        margin: 0;
        padding: 0;
    }
    .etc {
        float: right;
        margin-right: 15%;
    }
}

.linkImage {
    display: inline-block;
    width: 100%;
    height: 6rem;
    img {
        float: left;
        border-radius: 50%;
        height: 100%;
        margin-left: 3%;
        &:hover {
            box-shadow: 1vw 1vh;
            transform: translate(-0.2vw, -0.2vh);
        }
    }
}